/* 푸터 스타일 */
#footer {
    margin-top: 200px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-icons a {
    margin: 0 15px;
    color: #333;
    font-size: 1.5em;
}
.footer-icons a:hover {
    color: #8B4513;
}

footer p {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* 푸터 텍스트 및 아이콘 스타일 설정 */

/* 반응형 디자인 */
@media (max-width: 768px) {
    footer {
        /* 작은 화면에서의 푸터 패딩 조정 */
        padding: 10px;
    }
}
