<header>
    <!-- 메타데이터 및 제목 설정 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOMJI BLOG</title>
    
    <!-- 구글 애드센스 -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1544696790697351"
     crossorigin="anonymous"></script>
    
    <!-- 기본 스타일시트 -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/components.css">
    
    <!-- 레이아웃 스타일시트 -->
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <!-- 페이지별 스타일시트 -->
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/devjournal.css">
    <link rel="stylesheet" href="/css/tag.css">
    <link rel="stylesheet" href="/css/postDetail.css">
    <link rel="stylesheet" href="/css/devJournalDetail.css">
    <link rel="stylesheet" href="/css/toc.css">
    
    <!-- 외부 라이브러리 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
    <!-- 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    
    <!-- 스크립트 파일 -->
    <script src="/js/navScroll.js" defer></script>
    <script src="/js/activeButton.js" defer></script>
    
    <div id="header">
        <h1>@KOMJI BLOG</h1>
        <p>어제 뭐했는지 기억못하는 청년의 기억소</p>
    </div>
</header>