<div class="main-buttons">
    <button onclick="location.href='/views/about/'">ABOUT</button>
    <button onclick="location.href='/views/posts/'">POSTS</button>
</div>

<div id="main-content">
    <section class="container">
        <div class="main-profile">
            <img src="/favicon.ico" alt="Profile Image" class="profile-image">
            <h2>HI, I'M KWON JI YEON</h2>
            <p>안녕하세요, 개발자 권지연입니다.
                <br>이 블로그는 제가 배우고 경험한 다양한 개발 주제와 개인적인 통찰을 공유하는 공간입니다.
                <br>기술적인 글부터 일상적인 이야기까지, 다양한 콘텐츠를 통해 여러분과 소통하고 싶습니다.
            </p>
        </div>
        <!-- 스킬 영역 -->
        <div class="skills">
            <h2>Skills</h2>
            <table class="skill-table">
                <tbody>
                    <tr>
                        <td>Languages</td>
                        <td>
                            <i class="fab fa-js" style="color: #F7DF1E;" title="JavaScript"></i>
                            <i class="fab fa-php" style="color: #777BB4;" title="PHP"></i>
                            <i class="fab fa-windows" style="color: #239120;" title="C#"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Frameworks &amp; Libraries</td>
                        <td>
                            <i class="fas fa-code" style="color: #0769AD;" title="jQuery"></i>
                            <i class="fas fa-code-branch" style="color: #512BD4;" title=".NET Core"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Databases</td>
                        <td>
                            <i class="fas fa-database" style="color: #4DB33D;" title="MongoDB"></i>
                            <i class="fas fa-database" style="color: #00758F;" title="MySQL"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Operating Systems</td>
                        <td>
                            <i class="fab fa-linux" style="color: #FCC624;" title="Linux"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--경력 영역-->
        <div class="career">
            <h2>Career</h2>
        </div>
    </section>
</div>
