---
layout: default
---
{% include main-buttons.html %}
<div id="main-content">
    <section class="container">
        <div class="main-profile">
            <img src="/favicon.ico" alt="Profile Image" class="profile-image">
            <h2>HI, I'M KWON JI YEON</h2>
            <p>안녕하세요, 개발자 권지연입니다.
                <br>이 블로그는 제가 배우고 경험한 다양한 개발 주제와 개인적인 통찰을 공유하는 공간입니다.
                <br>기술적인 글부터 일상적인 이야기까지, 다양한 콘텐츠를 통해 여러분과 소통하고 싶습니다.
            </p>
        </div>
        <!-- 스킬 영역 -->
        <div class="skills">
            <h2>Skills</h2>
            <table class="skill-table">
                <tbody>
                    <tr>
                        <td>Languages</td>
                        <td>
                            <span class="skill-tag">Java</span>
                            <span class="skill-tag">JavaScript</span>
                            <span class="skill-tag">HTML</span>
                            <span class="skill-tag">CSS</span>
                            <span class="skill-tag">SQL</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Frameworks</td>
                        <td>
                            <span class="skill-tag">Spring</span>
                            <span class="skill-tag">Spring Boot</span>
                            <span class="skill-tag">JPA</span>
                            <span class="skill-tag">MyBatis</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Tools</td>
                        <td>
                            <span class="skill-tag">Git</span>
                            <span class="skill-tag">IntelliJ</span>
                            <span class="skill-tag">VS Code</span>
                            <span class="skill-tag">Eclipse</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--경력 영역-->
        <div class="career">
            <h2>Career</h2>
            <p>2022.06 ~ : 삼정데이타서비스 근무</p>
        </div>
    </section>
</div>
{% include footer.html %}